<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Logic/Classes/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Test1 Tests">
            <directory>./Logic/Classes/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Logic/Classes</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>