html,body {
    margin:0px;
}
#header {
    position:relative;
    background-color:#3d3d3d;
    color:#fff;
}

#header .menu {
    list-style:none;
    padding:0px;
    margin:0px;
}
#header .menu li {
    display:inline;
}
#header .menu li a {
    display:block;
    float:left;
    padding:10px;
    color:#fff;
    text-decoration:none;
}
#header .container {
    width:900px;
    margin:0 auto;
}



/* Clear */
.clearB { clear:both; }

.button {
    font: bold 20px Arial;
    width:150px;
    text-align:center;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}