html,body {
    margin:0px;
    background:#ededed url('assets/images/background-004.jpg') top no-repeat;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size:1.2em;
}
#header {
    position:relative;
    background-color:#3d3d3d;
    color:#fff;
}

#header .menu {
    list-style:none;
    padding:0px;
    margin:0px;
}
#header .menu li {
    display:inline;
}
#header .menu li a {
    display:block;
    float:left;
    padding:10px;
    color:#fff;
    text-decoration:none;
}
#header .container {
    width:900px;
    margin:0 auto;
}
#site {
    width:900px;
    min-height: 500px;
    margin:0 auto;
    background-color:rgba(255,255,255,0.8);
}
#spacer {
    position:relative;
    width:900px;
    margin:0 auto;
    height:255px;
}
#spacer .average {
    position:absolute;
    right:0px;
    top:20px;
    width:200px;
    padding:30px 0;
    background-color:#65E018;
    text-align:center;
    color:#fff;
    border-radius:5px;
}
#spacer .average h1 {
    margin:0;
    font-size:2.8em;
}
/* Clear */
.clearB { clear:both; }

.button {
    font: bold 20px Arial;
    width:150px;
    text-align:center;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}